@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #353836;
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}

#login {
  border: 1px solid #498afb;
}

#signup {
  border: 1px solid #ff3860;
}

#signup a {
  color: #ff3860;
}

#login a {
  color: #498afb;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}
.sidenav {
  height: 100%;
  width: 21%;
  position: fixed;
  z-index: -1;
  top: 0%;
  left: 0%;
  overflow-x: hidden;
  padding-top: 11.5%;
  background-image: linear-gradient(to bottom, #18D7B6 , #2828D5);
}
.sidenav a {
  padding: 2% 3% 2% 5%;
  text-decoration: none;
  font-size: 140%;
  color: white;
  display: block;
}
.sidenav a:hover {
  color: #00FFF8;
}
.one{
  flex-grow: 1;
}
.two{
  flex-grow: 1;
}
.three{
  flex-grow: 50;
}
.four{
  flex-grow: 50;
}
.topimg{
  display: flex;
  margin-left:75% ;
  margin-top: 1%;
}
#sidebox1{
  margin-top: 3px;
  background-color:rgba(37,30,30,0.24);
  height: 8.2%;
}
#img2{
  margin-top: 2px;
  margin-bottom: 18px;
}
#myprofile{
  opacity: 0.36;
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-left: 21%;
  padding: 2.2% 2% 1.5% 3%;
  width: 79%;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
